body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: local('HelveticaNowDisplay-Regular'),
    url(./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNowDisplayThin';
  src: local('HelveticaNowDisplay-Thin'),
    url(./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNowDisplayLight';
  src: local('HelveticaNowDisplay-Light'),
    url(./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'HelveticaNowDisplayMedium';
  src: local('HelveticaNowDisplay-Medium'),
    url(./fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf) format('truetype');
}
