body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: local('HelveticaNowDisplay-Regular'),
    url(./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNowDisplayThin';
  src: local('HelveticaNowDisplay-Thin'),
    url(./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNowDisplayLight';
  src: local('HelveticaNowDisplay-Light'),
    url(./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'HelveticaNowDisplayMedium';
  src: local('HelveticaNowDisplay-Medium'),
    url(./assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'icons';
  src: local('icons'), url(./assets/fonts/HelveticaNowDisplay/icons.ttf?nm4dd6) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e900';
}
.icon-notification:before {
  content: '\e901';
}
.icon-logout:before {
  content: '\e902';
}
.icon-settings:before {
  content: '\e903';
}
.icon-cancel:before {
  content: '\e904';
}
.icon-next:before {
  content: '\e905';
}
.icon-prev:before {
  content: '\e906';
}
.icon-briefcase:before {
  content: '\e907';
}
.icon-user:before {
  content: '\e908';
}
.icon-time:before {
  content: '\e909';
}
/* .icon-home:after {
  content: '\e90a';
  color: red;
} */
.icon-home:before {
  content: '\e90a';
}
.icon-plus:before {
  content: '\e90b';
}
.icon-notificat:before {
  content: '\e90c';
}
.icon-search:before {
  content: '\e90d';
}
.icon-download:before {
  content: '\e90e';
}
.icon-phone:before {
  content: '\e90f';
}
.icon-email:before {
  content: '\e910';
}
.icon-edit:before {
  content: '\e911';
}
